
  
  .content {
    margin-left: 250px; 
    padding: 20px;
    flex-grow: 1;
  }
  
  .layout {
    display: flex;
    min-height: 100vh; /* Ensure it stretches full height */
    width: 98vw; /* Ensure full page width */
}

.navbar {
    width: 250px; /* Ensure fixed sidebar width */
    min-height: 100vh; /* Stretch to full height */
    background-color: #111; /* Example color */
}

